@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');



:root {
    --black-leather-jacket: #28352F;
    --space-cadet: #172B4D;
    --mint: #36B37E;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid;
}


body {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;;
}


h1 {
    font-size: 2.5rem;
    width: fit-content;
    color: var(--space-cadet);
    line-height: 52px;
}


.heading_span {
    color: var(--mint);
}


main {
    background: url('./img/header-illsutration-mobile.svg') repeat-x 0,10px;
    /* padding: 10px; */
    width: 375px;
    height: 768px;
    display: flex;
    flex-direction: column;
    gap: 68px;
}


header {
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5em;
    margin-top: 15px;
}


.hamburger_icon {
    width: fit-content;
}


h3 {
    color: var(--black-leather-jacket);
    font-weight: 600;
    font-size: 1.25rem;
}


.headline_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}